<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% extends "base.html" %}

</head>
<body>
    {% block main%}
    
    <h2>Registrar usuario</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="reset" value="limpiar">
        <input type="submit" value="enviar">
    </form>

<hr />

<a href="/login">Iniciar sesión</a>
    {% endblock %}
    
</body>
</html>