{% extends 'base.html'%} 


{% block contenido %}
<h1>Transmisiones</h1>

<div class="conatiner">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="votar"  onclick="loadDoc()">Votar</button>

        </div>

        <div class="col-md-4">
            <button type="button" class="votar" onclick="loadDoc()">Votar</button>
        </div>

        <div class="col-md-4">
            <button type="button" class="votar" onclick="loadDoc()">Votar</button>
        </div>
    </div>
</div>

{% endblock %}