{% extends 'testimoniales/testimonial.html' %}
{% load static %}
{% block comentario %}

<div class="container-fluid">
    <h4>Comentarios</h4>

    <table class="table" style="background-color: #a7a7a7;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Mensaje</th>
            </tr>
            <tbody>
                {% for p in object_list %}
                <tr>
                    <th>{{p.nombre}}</th>
                    <th>{{p.mensaje}}</th>
                </tr>
                {% endfor %}
            </tbody>
          </thead>
    </table>
</div>

{% endblock %}
