{% extends "base.html" %}
{% load crispy_forms_tags %}

    {% block titulo %}
       <title>Bienal Digital: Ingresar</title>
    {% endblock %}

    {% block main%}
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-5">
                <h2 class="text-light">Autenticación</h2>
                <form class="text-light" method="POST">{% csrf_token %}
                    {{ form | crispy }}<br>
                    <div class="float-right">
                        <input type="submit" value="INICIAR" class="btn btn-success">   
                    </div>  
                </form>
            </div>
        </div>  
    </div>
    <br>
    {% endblock %}

    {% block extras_js%}
        <script src="../static/js/confirmacion.js"></script>
        {% if success_message %}
        <script type="text/javascript">
            window.onload(confrimarRegistro({{success_message}}))
        </script>
        {% endif %}
    {% endblock%}