{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block titulo%}
<title>BienalDigital: Registro</title>
{% endblock %}


{% block main%}
<br>
<div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <h2 class="text-light" >Registro</h2>
                <form class="text-light" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-danger" type="reset" value="Borrar">
                    <input class="btn btn-success" type="submit" value="Enviar"><br>
                    <div class="float-right"><br>  
                    </div>
                </form>
            </div>
        </div>
</div>
<br>  
{% endblock %}

