{% extends "base.html" %}

{% block main %}


<div class="card text-center">
    <div class="card-header">
        {% if user.participante %}
        <h1> Grupo {{user.username}}</h1>
        {% endif %}
        {% if not user.participante%}
        <h1>Bienvenido {{user.username}}</h1>
        {% endif%}
    </div>
    <div class="card-body">
        {% if user.participante %}
        <h2 class="card-title">Seccion de participante</h2>
        <h3>Categoria : {{perfil.categoria}} id {{perfil.id}}</h3>
        <p class="card-text">En esta sección podran modificar la cantidad de integrandes del grupo, 
            agregarlos, eliminarlos, dar de baja el grupo, entre otras funciones.
        </p>
        <a href="{% url 'participante' %}" class="btn btn-primary float-left">Agregar miembro</a>
        
        <a href="#">{{grupo.directo}}</a>
        {% endif %}
    </div>
    {% for participante in participantes %}
    <div class="card-body">
        <div class="container">
            <div class="col">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-16">
                    <p class="text-left">Nombre: {{participante.nombre}} </p>
                    <p class="text-left">Apellido: {{participante.apellido}}</p>
                    <p class="text-left">Edad: {{participante.edad}}</p>
                    <p class="text-left">Sexo: {{participante.sexo}}</p>
                    <p class="text-left">Dni: {{participante.dni}}</p>
                    <p class="text-left">Nacionalidad: {{participante.nacionalidad}}</p>
                    <p class="text-left">Domicilio: {{participante.domicilio}}</p>
                </div>
                
            </div>
            
        </div>
        
        
    </div>
    {% endfor %}
    <div class="card-footer text-muted">
        6 days ago
    </div>
</div>

{% endblock %}