*{
    margin: 0px;
    padding: 0px;
}

.imagen {
    height: 273px;
    background: url(../imagenes/bienaldigital-copia.jpg);
    background-size: auto;
}

.video{
    transform:rotate(-450deg);
    transform-origin: bottom right;
    width: 100vh;
    height: 100vw;
    margin-top: -100vw;
    margin-left: 20vw;
    object-fit: cover;
    visibility: visible;
    height: 600px;
    width: auto;
}
.texto{
    text-align: justify;
}

.texto-blanco{
    color: whitesmoke;
}


footer{
    height: 100px;
}