{% extends 'base.html' %}


{% block titulo_cabecera%}

{% if categoria == "todos" %}
<h1 class="text-center">Videos en vivo de los participantes</h1>
{% else %}
<h1 class="text-center">Videos de la categoria: {{categoria}}</h1>
{% endif %}

{% endblock %}

{% block main %}
<div class="container-fluid">
	<a class="btn btn-warning" href="{% url 'en_vivos' 0 %}">Todos</a>
	{% for c in categorias %}
	<a class="btn btn-success" href="{% url 'en_vivos' c.id %}">{{c}}</a>
	{% endfor %}
</div>

<div class="container-fluid pt-2">
	<div class="row">
		{% for p in participantes%}
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3 class="text-center">{{p}}</h3>

				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{p.directo}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            	<input type="submit" id="{{p.id}}" onclick="confirmarVoto({{user.id}}, {{p.id}})" value="votar" class="btn btn-primary">
            	<p> {% csrf_token %}</p>

			</div>
		{% endfor %}
	</div>
		
</div>

{% endblock %}

{% block extras_js%}
	<script src="../static/js/ajax_votar"></script>
	<script src="../static/js/confirmacion.js"></script>
    <script src="../static/js/sweetalert2@10.js"></script>
{% endblock%}