<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    {% endblock %}
    <title>Bienal Digital</title>
</head>
<body class="bg-dark">
    {% block header %}
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-4"><a class="btn btn-white" href="{% url 'inicio' %}" style="background-color:#9700f9;"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="nav-item mr-4"><a class="btn btn-white" href="{% url 'registroParticipante' %}" style="background-color:#9700f9;"><i class="fas fa-file-signature"></i> Participar</a></li>
                    <li class="nav-item mr-4"><a class="btn btn-white" href="{% url 'mostrarVotos' %}" style="background-color:#9700f9;"><i class="fas fa-trophy"></i> Ranking</a></li>
                    <li class="nav-item mr-4"><a class="btn btn-danger" href="#"> <i class="fas fa-video"></i> En vivo</a></li>
                </ul>
                <ul class="navbar-nav float-right">
                    {% if user.is_authenticated %}
                    {% if user.participante%}
                    <li class="nav-item mr-2"><a class="btn btn-outline-success" href="{% url 'usuario' %}"><i class="fas fa-users-cog"></i> Bienvenido {{user.username}}</a></li>
                    {% endif %}
                    {% if not user.participante%}
                    <li class="nav-item mr-2"><a class="btn btn-outline-success" href="{% url 'usuario' %}"><i class="fas fa-user-cog"></i> Bienvenido {{user.username}}</a></li>
                    {% endif %}
                    <li class="nav-item mr-4"><a class="btn btn-outline-danger" href="{% url 'logout' %}"><i class="fas fa-user-times"></i> Salir</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="nav-item mr-4"><a class=" btn btn-outline-success" href="{% url 'login' %}"><i class="fas fa-user-alt"></i> Ingresar</a></li>
                    <li class="nav-item float-right"><a class="btn btn-outline-primary" href="{% url 'registrar' %}"> <i class="fas fa-user-plus"></i> Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <img src="/static/imagenes/bienaldigital-copia.jpg" class="img-fluid" alt="Responsive image" width="100%">
    </header>
    {% endblock %}

    {% block main %}
    <main class="main">

    </main>
    {% endblock%}
    {% block footer %}
    <footer class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h6>ÚLTIMAS NOVEDADES</h6>
                    <a class="text-light" href="#">Noticia 1</a><br>
                    <a class="text-light" href="#">Noticia 2</a><br>
                    <a class="text-light" href="#">Noticia 3</a><br>
                </div>
                <div class="col-lg-4">
                    <h6>OTRAS SECCIONES</h6>
                    <a class="text-light" href="#">Contacto</a><br>
                    <a class="text-light" href="#">Testimoniales</a><br>
                    <a class="text-light" href="#">Como llegar</a><br>
                </div>
                <div class="col-lg-4">
                    <div class="container">
                        <ul class="navbar-nav float-right">
                            <li class="nav-item mr-4">
                                <h6>SEGUINOS</h6>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="text-dark" href="#"><i class="fab fa-facebook-square fa-lg"  style="background-color: white; color: #0030ba"></i> Facebook</a><br>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="text-dark" href="#" > <i class="fab fa-instagram-square fa-lg" style="color: #a300ba; background-color: white;"></i> Instagram</a><br>
                            </li>
                            <li class="nav-item float-right">
                                <a class="text-dark" href="#"><i class="fab fa-youtube-square fa-lg"  style="background-color: #ba1400; color: white;"></i> YouTube</a><br>
                            </li>
                        </ul>
                                
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
    {% endblock %}

    {% block extras_js %}

    {% endblock %}


</body>
</html>