<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="icon" type="image/ico" href="../static/imagenes/icono.ico" />
    {% endblock %}

    {% block titulo %}
    <title>Bienal Digital</title>
    {% endblock %}

</head>
<body class="bg-dark">
    {% block header %}
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-4"><a class="btn btn-white" href="{% url 'inicio' %}" style="background-color:#9700f9;"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="nav-item mr-4"><a class="btn btn-white" href="{% url 'registroParticipante' %}" style="background-color:#9700f9;"><i class="fas fa-file-signature"></i> Participar</a></li>
                    <li class="nav-item mr-4"><a class="btn btn-white" href="{% url 'mostrarVotos' 0 %}" style="background-color:#9700f9;"><i class="fas fa-trophy"></i> Ranking</a></li>
                    <li class="nav-item mr-4"><a class="btn btn-danger" href="{% url 'en_vivos' 0 %}"> <i class="fas fa-video"></i> En vivo</a></li>
                </ul>
                <ul class="navbar-nav float-right">
                    {% if user.is_authenticated %}
                    {% if user.participante%}
                    <li class="nav-item mr-2"><a class="btn btn-outline-success" href="{% url 'usuario' %}"><i class="fas fa-users-cog"></i> Bienvenido {{user.username}}</a></li>
                    {% endif %}
                    {% if not user.participante%}
                    <li class="nav-item mr-2"><a class="btn btn-outline-success" href="{% url 'usuario' %}"><i class="fas fa-user-cog"></i> Bienvenido {{user.username}}</a></li>
                    {% endif %}
                    <li class="nav-item mr-4"><a class="btn btn-outline-danger" href="{% url 'logout' %}"><i class="fas fa-user-times"></i> Salir</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="nav-item mr-4"><a class=" btn btn-outline-success" href="{% url 'login' %}"><i class="fas fa-user-alt"></i> Ingresar</a></li>
                    <li class="nav-item float-right"><a class="btn btn-outline-primary" href="{% url 'registrar' %}"> <i class="fas fa-user-plus"></i> Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% if categoria == "todos" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; " 
            src="/static/imagenes/bienaldigital.jpg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% elif categoria  == "madera" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; " 
            src="/static/imagenes/madera2.jpeg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% elif categoria  == "pintura" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; " 
            src="/static/imagenes/pinturas.jpeg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% elif categoria  == "metal" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; " 
            src="/static/imagenes/metal.jpeg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% elif categoria  == "piedra" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; " 
            src="/static/imagenes/piedra2.jpeg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% elif categoria  == "concreto" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; "
            src="/static/imagenes/concreto.jpeg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% elif categoria  == "artesania" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; "
            src="/static/imagenes/artesanias.jpeg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% elif categoria  == "arena" %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; "
            src="/static/imagenes/arena.jpeg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% else %}
        <img style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; "
            src="/static/imagenes/bienaldigital.jpg" id="imagenCabecera" class="img-fluid" alt="Responsive image" width="100%">
        {% endif %}
    </header>
    {% endblock %}

    {%block titulo_cabecera %}

    {% endblock %}

    {% block main %}
    <main class="main">

    </main>
    {% endblock%}
    {% block footer %}

    <footer class="bg-dark">
        <hr class="bg-white ml-3 mr-3" size=3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 mx-5">  
                    <a class="text-light" href="#">Programa</a><br>
                    <a class="text-light" href="#">Participantes</a><br>
                    <a class="text-light" href="#">Premio Desafío</a><br>
                    <a class="text-light" href="{% url 'testimonial' %}">Testimoniales</a><br>
                </div>
                <div class="col-lg-3 mx-5">
                    <a class="text-light" href="{% url 'contacto' %}">Contacto</a><br>
                    <a class="text-light" href="{% url 'historia' %}">Resistencia, Ciudad de las Esculturas</a><br>
                    <a class="text-light" href="http://www.fundacionurunday.org/" target="_blank">Fundación Urunday</a><br>
                    <a class="text-light" href="https://chaco.gov.ar/" target="_blank">Chaco, Gobierno de Todos</a><br>
                    
                </div>
                <div class="col-lg-3 mx-5">
                    <div class="container">
                        <ul class="navbar-nav float-right">
                            <li class="nav-item mr-4">
                                <h6 class="text-white">SEGUINOS</h6>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="text-white" href="https://www.facebook.com/bienaldelchaco"><i class="fab fa-facebook-square fa-lg"  style="background-color: white; color: #0030ba"></i> Facebook</a><br>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="text-white" href="https://www.instagram.com/bienaldelchaco/?hl=es-la" > <i class="fab fa-instagram-square fa-lg" style="color: #a300ba; background-color: white;"></i> Instagram</a><br>
                            </li>
                            <li class="nav-item float-right">
                                <a class="text-white" href="https://www.youtube.com/BienaldelChaco"><i class="fab fa-youtube-square fa-lg"  style="background-color: #ba1400; color: white;"></i> YouTube</a><br>
                            </li>
                        </ul>
                                
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-white ml-3 mr-3" size=3>

        <div class="container row">
            <p class="text-light my-0">
                <small> <b>Copyright © Bienal del Chaco.</b> </small>
            </p>
            <address class="text-light my-0 mx-2">
                <small>Avenida de los Inmigrantes 1001, Resistencia, Chaco, Argentina.</small>
            </address>
        </div>
        
        
    </footer> 
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    {% endblock %}

    {% block extras_js %}

    {% endblock %}


</body>
</html>