<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../static/css/estilos.css">

    <title>Resistencia, Ciudad de las Esculturas</title>
    {% extends "base.html" %}
</head>
<body>

    {{mensaje}}
    {% block main%}

    <div class="container-fluid no-gutters px-0">
        <div class="row no-gutters ">
            <div class="col-lg-6 col-md-7 col-sm-4 col-xs-12 ml-4 mt-4">
                <br>
                <img src="../static/imagenes/historia1.jpg"  class="rounded mx-auto d-block" alt="Imagen no disponible">
            </div>

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 ml-5 mt-4">
                <h2 class="texto text-muted">Resistencia, Ciudad de las Esculturas</h2>
                <h4 class="texto text-muted">Reseña histórica</h4>
                <br>
                <p class="texto  texto-blanco">
                    La ciudad de Resistencia se fundó en 1878. Los primeros monumentos urbanos (1920) fueron erigidos por la colectividad italiana y tuvieron el carácter recordatorio de las gestas inmigrantes. Su articulación con la historia local se concretó recién a partir de 1945 con monumentos dedicados a próceres argentinos, ubicados en las principales plazas de la ciudad.
                </p>

                <p class="texto  texto-blanco">
                    A partir de la formación de una nueva sede de El Fogón de los Arrieros, en 1954, se congregó un grupo de artistas e intelectuales que transformó el lugar en un centro de exposición y difusión artística.
                </p>

                <p class="texto  texto-blanco">
                    En 1961, El Fogón lanzó un Plan de Embellecimiento de Resistencia, que configuró una nueva fase en la tarea de integrar el arte al espacio público. Primaba, en cierta forma, la idea de crear una “Ciudad-Museo”; posible gracias al lenguaje superpuesto de las esculturas ya emplazadas en la vía pública.
                </p>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 ml-5 mt-4">
                <p class="texto  texto-blanco">
                    La expansión de las obras significaba el cambio paulatino de una valoración de tipo simbólico - histórico a una de carácter artístico - cultural, en un proceso que iba configurando a las esculturas como verdaderos referentes urbanos, identificatorios de cada lugar. La campaña fue continuada por COPROAR entre 1977 y 1991, y luego por la Fundación Urunday, habiéndose logrado hasta la fecha la colocación de más de 600 esculturas y formándose ya una propuesta de la imagen de la ciudad. Esta imagen posibilitó jerarquizar el área urbana, le confirió atractivo turístico y contribuyó a definir un perfil singular que cualifica la “cultura” de Resistencia.
                </p>

                <p class="texto  texto-blanco">
                    La notable tarea desarrollada desde entonces, dotó a la ciudad de obras de artistas de la talla de Luis Perlotti, Gonzalo Leguizamón Pondal, Lucio Fontana, José Fioravanti, Emilio Pettoruti, Raúl Monsegur, Libero Badíi, Juan Carlos Labourdette, Noemi Gerstein, Mimo Eidman, Tanya Preminger, Enio Iommi, Ted Carrasco, Mirko Basaldella, Fernando Arranz, Miguel Angel González Salazar, Ferruccio Polacco, Serge Gangolf, Jaak Soans, Thomas Kühnapfel, Mitko Dinev, Aurelio Macci, Selva Vega, Enrique Romano, Hernán Dompé, Mariano Pages, Eddie Torre, Domingo Arena, Gyula Kosice, Pablo Curatella Manes, Naum Knop, Fabriciano y de tantos otros.
                </p>

            </div>
            <div class="col-lg-6 col-md-7 col-sm-4 col-xs-12 ml-4 mt-4">
                <img src="../static/imagenes/historia3.jpg"  class="rounded mx-auto d-block" alt="Imagen no disponible">
            </div>

            <div class="col-lg-6 col-md-7 col-sm-4 col-xs-12 ml-4 mt-4">
                <img src="../static/imagenes/historia2.jpg"  class="rounded mx-auto d-block" alt="Imagen no disponible">
                <br>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 ml-5 mt-4">
                <p class="texto  texto-blanco">
                    Resistencia se muestra hoy así, como un gran museo al aire libre. Un museo en el cual, por sobre la importancia de sus obras sorprende el grado de conciencia, de respeto y de orgullo que ha merecido en sus pobladores el haber recibido un patrimonio artístico como el que exhiben.
                </p>
                <p class="texto  texto-blanco">
                    Piedra y mármol, cemento y hierro, madera y ensamblajes, ritmando formas en avenidas y plazas, en parques y edificios. Todo un corpus de temas y expresiones que motiva reflexiones críticas.
                </p>
                <p class="texto  texto-blanco">
                    Esta ejemplaridad de acción, que se da casi naturalmente, permite que en esta ciudad y en el corazón de cada uno de sus habitantes, el arte sea una expresión más de la convivencia. El arte como mecanismo de perfeccionamiento y a la vez, como medio de elevación espiritual y de alegría.
                </p>
                <h4 class="texto text-muted">
                    "…A veces en las tardes una cara nos mira desde el fondo de un espejo; el arte debe ser como ese espejo que nos revela nuestra propia cara…"
                </h4>
                <h4 class="texto text-muted">Jorge Luis Borges.</h4>

            </div>

        </div>

    </div>

    {% endblock %}
    
</body>
</html>