<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../static/css/estilos.css">

    <title>Bienal Digital 2.0</title>
    {% extends "base.html" %}
</head>
<body>
  
   {{mensaje}}
    {% block main%}
    <div class="container-fluid no-gutters px-0">
        <div class="row no-gutters ">
            <div class="col-lg-6 col-md-7 col-sm-4 col-xs-12 ml-4 mt-4">
                <video src="../static/video/prueba.mp4" class="video "></video>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 ml-5 mt-4">
                <h1 class="texto text-blanco">Título</h1>

                <p class="texto  texto-blanco">
                    Parte principal de la información a mostrar.
                </p>
                <p class="texto  texto-blanco"> 
                    Cuerpo o desarrolo de la información.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid no-gutters bg-dark mt-5">
        <div class="row ">
            <div class="col-lg-4">
                <p class="texto  text-blanco">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eaque quisquam 
                    explicabo, autem molestias esse voluptate molestiae modi exercitationem commodi magni 
                    saepe distinctio quam qui dolorem quasi facilis fuga rem?
                </p>
            </div>


            <div class="col-lg-4">
                <p class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure officia eos deserunt? 
                    Dolorem asperiores quisquam eligendi dolore sint minus laboriosam sunt voluptate 
                    ducimus, aut sed, odit ab, voluptatum quam! Eligendi!
                </p>
            </div>

            <div class="col-lg-4">
                <p class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolores, 
                    unde autem omnis praesentium natus sunt corrupti maxime odio officiis at quia 
                    libero quod! Doloribus iure molestias voluptas aspernatur a?
                </p>
            </div>
        </div>
    </div>
    {% endblock %}
   
</body>
</html>