<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../static/css/estilos.css">

    <title>Bienal Digital 2.0</title>
    {% extends "base.html" %}
</head>
<body>
  
   {{mensaje}}
    {% block main%}
    <div class="container-fluid no-gutters px-0">
        <div class="row no-gutters ">
            <div class="col-lg-6 col-md-7 col-sm-4 col-xs-12 ml-4 mt-4">
                <video class="video " muted  autoplay loop>
                    <source src="../static/video/artista.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 ml-5 mt-4">
                <h2 class="texto text-muted">LOS CONCURSOS DE ESCULTURA</h2>
                <h4 class="texto text-muted">Proveedores inagotables de un patrimonio cada vez mayor</h4>
                <p class="texto  texto-blanco"> 
                    Desde el Primer Concurso de Esculturas en madera en la Plaza Central, en 1988, hasta las Bienales Internacionales en la actualidad, El Gobierno de la Provincia del Chaco y la Fundación Urunday trabajan incansablemente para hacer de cada Bienal una verdadera celebración de la identidad de los chaqueños.<br>
                    Estos certámentes convocan a prestigiosos artistas del país y del mundo que, a cielo abierto y ante miles de espectadores, crean una obra original e inédita.<br>
                    Las obras se realizar en distintos materiales no perecederos y luego son integrados al espacio público, en veredas, bulevares, parques y plazas de la ciudad, enriqueciendo un patrimonio cultural sin precedentes y transformando a Resistencia en un moderno y único museo al aire libre.<br>
                    Los concursos escutóricos se tomaron rápidamente en una fiesta popular de magnitud impensada. Más de 380 mil visitantes llegan desde los más diversos puntos y transforman el Predio de las Bienales en un suceso cultural y social que reúne artistas y pueblo en un mismo espacio de intercambio pluricultural.
            </div>
        </div>
    </div>
    <div class="container-fluid no-gutters bg-dark mt-5">
        <div class="row ">
            <div class="col-lg-4">
                <p class="texto  text-blanco">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eaque quisquam 
                    explicabo, autem molestias esse voluptate molestiae modi exercitationem commodi magni 
                    saepe distinctio quam qui dolorem quasi facilis fuga rem?
                </p>
            </div>


            <div class="col-lg-4">
                <p class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure officia eos deserunt? 
                    Dolorem asperiores quisquam eligendi dolore sint minus laboriosam sunt voluptate 
                    ducimus, aut sed, odit ab, voluptatum quam! Eligendi!
                </p>
            </div>

            <div class="col-lg-4">
                <p class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolores, 
                    unde autem omnis praesentium natus sunt corrupti maxime odio officiis at quia 
                    libero quod! Doloribus iure molestias voluptas aspernatur a?
                </p>
            </div>
        </div>
    </div>
    {% endblock %}
   
</body>
</html>