{% extends 'base.html' %}

{% block main %}

<div class="container-fluid">
        <h1 class="text-center text-white">RANKING</h1>
        <a class="btn btn-warning" href="{% url 'mostrarVotos' 0 %}">Todos</a>
        {% for c in categorias %}
        <a class="btn btn-success" href="{% url 'mostrarVotos' c.id %}">{{c}}</a>
        {% endfor %}
</div>


<div class="container">
    <table id="tabla" class="table stript-table mt-2">
        <tr>
            <th><h2>Participante</h2></th>
            <th><h2>Votos</h2></th>
        </tr>

        {%  for p in votos %}
        <tr>
            <td class="text-white">{{p.participante}}</td>
            <td class="text-white">{{p.votos}}</td>

        </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}


{% block extras_js %}
    
{% endblock %}